@media print {

  .qvobject {
    margin-left: -70px;
  }

  .qlik-linechart-sbs {
    margin-left : 210px;
  }

  @page {
    size : auto;
    margin: 0;
    width: 100%;
    float: none;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  }
  a:visited:after {
    content: " [" attr(href) "] ";
  }
  a[href]:after {
    content: none !important;
  }
  a {
    text-decoration: underline;
  }
  body, #content, #container {
    width: 100%;
    margin: 0px;
    float: none;
    background-color: white;
    color: black;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  #sec-title, #int-title {
    font-size: 22px;
    text-align: left;
    border-bottom: #00aeef solid 3px;
    padding-bottom: 7px;
    margin-bottom: 9px;
    margin-left: 13px;
    margin-right: 13px;
  }
  #PKO{
    -webkit-transform: rotate(90deg) scale(1.8) skew(0deg) translate(250px, -20px);
    -moz-transform:    rotate(90deg) scale(1.8) skew(0deg) translate(250px, -20px);
    -ms-transform:     rotate(90deg) scale(1.8) skew(0deg) translate(250px, -20px);
    -o-transform:      rotate(90deg) scale(1.8) skew(0deg) translate(250px, -20px);
  }
  #brand-bar, #Subtitle, #topnav, #navbar, #nav, #sidebar, .ad, .footer, /*#topic1, #topic2, #topic3, #topic4, #topic5, #bar,*/
  .noprint {
    display: none;
    padding: 0;
    margin: 0
  }

  .sec-img{
    padding-top : 30px;
  }

  #Title {
    text-decoration: none !important;
  }
  .graph-title, .legendSection {
    margin-left: 9px;
    margin-right: 9px;
  }
  header .navbar-header .navbar-brand {
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    margin: 0;
    font-weight: 250;
    font-size: 35px;
    letter-spacing: -0.02em;
    color: #4d4d4d;
    text-transform: uppercase;
  }
  h1, h2 {
    background-color: black;
    font-size: 16pt;
    text-align: left;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: capitalize;
    font-weight: bold;
    padding: 0;
    margin: 0;
  }
  h3 {
    background-color: black;
    font-size: 14pt;
    text-align: left;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: capitalize;
    font-weight: bold;
    padding: 0;
  }
  h4 {
    background-color: black;
    font-size: 16pt;
    font-weight: bold;
    text-align: left;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 7pt;
    text-transform: uppercase;
    color: black;
  }
  p {
    font-size: 14pt;
    margin-left: 0;
  }
  .graph-title, .qvobject, .legendtext p {
    position: relative;
  }
  .page-break {
    page-break-before: always;
  }
  .obj, .obj2 {
    padding: 0;
  }
  #rectangleblue {
    width: 15px!important;
    height: 15px!important;
    background-color: rgb(0,113,188)!important;
    -webkit-print-color-adjust: exact !important;
  }
  #rectangleblueqlik {
    width: 15px !important;
    height: 15px !important;
    background-color: rgb(68,119,170) !important;
  }
  #rectanglegreen {
    width: 15px!important;
    height: 15px!important;
    background-color: rgb(57, 181, 74)!important;
  }
  #rectanglegreenqlik {
    width: 15px!important;
    height: 15px!important;
    background-color: rgb(17, 119, 51)!important;
  }
  #rectangleorange {
    width: 15px!important;
    height: 15px!important;
    background-color: rgb(247, 147, 30)!important;
  }
  #rectanglepink {
    width: 15px!important;
    height: 15px!important;
    background-color: rgb(212, 20, 90)!important;
  }
  #rectanglepurple {
    width: 15px!important;
    height: 15px!important;
    background-color: rgb(102, 45, 145)!important;
  }
  #rectangleyellow {
    width: 15px!important;
    height: 15px!important;
    background-color: #f7b71e!important;
  }
  #rectangleyellowqlik {
    width: 15px!important;
    height: 15px!important;
    background-color: rgb(221, 204, 119)!important;
  }
  #rectanglered {
    width: 15px!important;
    height: 15px!important;
    background-color: #d1475f!important;
  }
  #rectangleredqlik {
    width: 15px!important;
    height: 15px!important;
    background-color: rgb(204, 102, 119)!important;
  }
  .wordcloud {
    position: relative;
    width: 100%!important;
  }
  .notes{
    font-size : 14px;
    padding-bottom : 0px;
    margin-bottom : 0px;
  }
  .tb-left{
    width : 30% !important;
  }
  .tb-right{
    width : 70% !important;
  }
}
