/**
 * Qlik Objects Styling
 * @author Kania Azrina | azrina@un.org
 * Date : December 2015
 * Description: Styled qlik object based on screen sizes
 **/

/* ----------- GENERAL ----------- */
/* big landscape tablets, laptops, and desktops */


/* hi-res laptops and desktops */

.qlik-linechart {
  width: 100%;
  height: 300px;
}
.qlik-linechart-sbs {
  width: 100%;
  height: 250px;
}
.qlik-bar-hor-m {
  width: 100%;
  height: 300px;
}
.qlik-bar-ver-m {
  width: 100%;
  height: 300px;
}
.qlik-circle {
  width: 100%;
  height: 400px;
}

/* ERROR MESSAGE */
.qv-modal-container {
  visibility : hidden !important;
}

.qui-modalbackground-centered{
  visibility : hidden !important;
}

.qs-e-dim{
  visibility : hidden !important;
}

/* ----------- CUSTOM SIZING ----------- */

.qlik-decisions {
  height: 200px;
}
.qlik-meetings {
  width: 100%;
  height: 300px;
}
.qlik-meetings-2 {
  width: 100%;
  height: 450px;
}
.qlik-meetings-more {
  width: 100%;
  height: 300px;
  margin-bottom: 2em;
}
.qlik-meeting-formula {
  width: 100%;
  height: 300px;
  margin-bottom: 1em;
}
.qlik-agenda-barchart {
  width: 100%;
  height: 150px;
}
.qlik-agenda-resolutions {
  width: 100%;
  height: 1300px;
}
.qlik-piechart {
  width: 100%;
  height: 500px;
}
.qlik-line {
  width: 100%;
  height: 400px;
}
.qlik-line2 {
  width: 100%;
  height: 570px;
}
.qlik-ch14 {
  width: 100%;
  height: 550px;
}
.qlik-Subsidiary-bar {
  width: 140%;
  height: 800px;
}
.qlik-ch16 {
  width: 110%;
  height: 1300px;
}
.qlik-ch17 {
  width: 100%;
  height: 150px;
}
.qlik-ch18 {
  width: 100%;
  height: 190px;
}
.qlik-ch19 {
  width: 100%;
  height: 190px;
}
.qlik-Subsidiary-listing {
  width: 100%;
  height: 1300px;
}

/* ----------- TABLETS ----------- */


/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */


/* tablet, landscape iPad, lo-res laptops ands desktops */


/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */

@media @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {}

/* ----------- PHONES ----------- */


/* smartphones, iPhone, portrait 480x320 phones */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .qlik-linechart {
    width: 100%;
    height: 150px;
  }
  .qlik-linechart-sbs {
  width: 100%;
  height: 200px;
}
  .qlik-bar-hor-m {
    width: 100%;
    height: 200px;
  }
  .qlik-bar-ver-m {
    width: 100%;
    height: 150px;
    position: relative;
  }
  .qlik-circle {
    width: 100%;
    height: 200px;
  }
  .qlik-Subsidiary-bar {
    width: 100%;
    height: 800px;
  }
  .qlik-ch16 {
    width: 100%;
    height: 1300px;
  }
}
